:root{
    --primary: #4D4D4D;
}



.green{
    background-color: #4CAF4F;
}
.greenn:hover{
    /* background-color: #4CAF4F !important;
    color: white !important; */
    color: #263238 !important;
}
.whitecolor{
    color: white;
}
.whitecolor:hover{
    color: white;
}
.blackcolor{
    color: var(--primary) !important;

}
.greencolor{
    color: #4CAF4F !important;
}
.greencolor:hover{
    color: #4CAF4F;
}
.paddingli{
    padding-left: 60px;
}
.gray{
    background-color: #F5F7FA;
;
}
.cgap{
    gap: 100px;
    
}
.marginr{
    margin-right:80px ;
}
.black{
    background-color:  #263238 !important;

}
.gray{
    background-color: #F5F7FA;
;
}
.bgray{
    background-color: gray;

}
.twhite{
    color: white  !important;
}
.button:active{
    color: black !important;
}